$theme-colors: (
    "primary": black
);

@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgrey;
}

.page-content {
  background-color: white;
  margin: 0px 150px 0px 150px;
}

.nav-menu {margin-left: 25%;}

.page-height {
  min-height: calc(100vh - 50px);
}

.footer {
  padding: 8px;
  text-align: center;
  color: grey;
}

.selected {
  color: red;
}


